.login-h1 {
    font-size: 30px;
    font-weight: 300;
    background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, #553c9a, #ee4b2b 10%, #553c9a 20%);;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
}

.login-span {
    font-size: 25;
    font-weight: 500;
    background-image: conic-gradient(
        #553c9a 0%, #553c9a 35%, #ee4b2b 35%, #ee4b2b 65%, #83b0b3 66%, #00c2cb 99%
      );
      color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.login-btn {
    width: 88%;
    margin-bottom: 16px;
  }
  
  .google-btn {
    background-color: #db4437;
    border-color: #db4437;
    color: #fff;
  }
  
  .google-btn:hover {
    background-color: #c1351d;
    border-color: #c1351d;
  }
  
  .email-btn {
    background-color: #4285f4;
    border-color: #4285f4;
    color: #fff;
  }
  
  .email-btn:hover {
    background-color: #3367d6;
    border-color: #3367d6;
  }
  
  .login-or {
    margin: 16px 0;
    color: #999;
  }